:root {
  --z-max: 69;
  --border: 3px;
  --shadow: 2px 2px 0px var(--black);
  --space: 1.25rem;
  --half-space: calc(var(--space) / 2);
  --double-space: calc(var(--space) * 2);
  --black: hsl(0, 0%, 15%);
  --white: hsl(0, 0%, 94%);
  --gray: hsl(0, 0%, 85%);
  --red: hsl(0, 67%, 68%);
  --green: hsl(148, 55%, 40%);
  --font: 'Montserrat', sans-serif;
  --bold: bold;
  --font-larger: 3.5rem;
  --font-large: 2rem;
  --font-small: 0.9rem;
  --letter-space: 0.125em;
  --form-width: 40rem;
  --list-width: 30rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font);
  margin: 0;
}

.button {
  @extend %heading;
  @extend %button;
}

.form {
  padding: var(--space);

  & > label {
    @extend %heading;
    font-weight: bold;
    display: grid;

    span {
      margin-bottom: var(--half-space);
    }

    &[data-currency] {
      grid-template-columns: min-content 1fr;
      align-items: center;
      grid-template-areas: "label label" "prefix input";

      span {
        grid-area: label;
      }

      &::before {
        content: attr(data-currency);
        grid-area: prefix;
        text-align: center;
        border: var(--border) solid;
        border-right: none;
        padding: var(--half-space);
      }

      input {
        grid-area: input;
      }
    }

    input,
    select,
    textarea {
      border: var(--border) solid;
      padding: var(--half-space);
      max-width: 100%;
    }
  }
}
